body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0;
  margin: 0;
}

/* Main Header */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.header-container {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70em;
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  font-weight: 800;
}

.header-links {
  font-size: 18px;
}

/* Container */
.body {
  display: flex;
  flex-direction: column;
}
/* Hero */
.hero {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 7em;
  padding-bottom: 7em;
  gap: 16px;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 70em;
  justify-content: space-between;
  gap: 2rem;
}

.hero-left,
.hero-right {
  flex: 1;
  box-sizing: border-box;
  width: 50%;
  height: auto;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-right {
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
}

.hero-signup-btn {
  background-color: #3882f6;
  border: 0 none;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 50px;
}

/* Information */
.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information-header {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 800;
  font-size: 36px;
}

.card-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  flex: 1;
  padding-bottom: 4em;
  color: #1f2937;
}

.card {
  width: 150px;
  height: auto;
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.card-image {
  border: 0.2em solid #3883f6;
  border-radius: 15px;
  height: auto;
  aspect-ratio: 1 / 1;
}

.card-subtext {
  display: flex;
  text-align: center;
}

.card-subtext p {
  margin: 0;
}

/* quote */
.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
  align-items: center;
}

.quote-container {
  text-align: center;
  font-style: italic;
  font-size: 24px;
  color: #1f2937;
  font-weight: 300;
}

.quote-text {
  text-align: justify;
}

.quote-author {
  text-align: right;
  font-size: 18px;
  font-weight: 800;
  max-width: 80em;
}

/* Call to Action */
.call-to-action {
  display: flex;
  justify-content: center;
  padding: 6em;
}

.call-to-action-container {
  display: flex;
  justify-content: space-between;
  background-color: #3883f6;
  border-radius: 10px;
  padding: 2.5em 6.5em;
  font-size: 18px;
  color: #f9faf8;
  max-width: 80em;
  flex: 1;
}

.call-to-action-text p {
  margin: 0;
  flex: 0 0 auto;
}

.call-to-action-header {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.call-to-action-signuptext {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-button {
  background-color: #3882f6;
  border: medium solid #f9faf8;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 50px;
}

/* Footer */
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  flex: 1;
  padding-top: 3em;
  padding-bottom: 3em;
}

/* Padding */
.header,
.hero,
.information,
.card-container,
.call-to-action,
.footer {
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
}

.header-container,
.hero-container,
.call-to-action-container {
  max-width: 70em;
}

.quote-container,
.call-to-action-container {
  max-width: 45em;
}